# Игнорировать все .log файлы
*.log

# Игнорировать локальную директорию .env
.env

# Игнорировать файлы конфигурации редактора
.vscode/
.idea/

# Игнорировать личные файлы конфигурации
*.swp
*~
config.txt

# Игнорировать сборочные директории
build/
dist/
__pycache__

# Игнорировать архивы, полученные в результате сборки проекта
*.tar.gz
*.zip